.pot-content-component-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
}

.pot-content-component-header {
  font-size: 18px;
  font-weight: 700;
  height: 0px;
  width: 100%;
  border-bottom: 2px solid black;
}

.pot-content-component-header > div {
  width: 188px;
  height: 24px;
  background-color: white;
  position: relative;
  z-index: 1;
  padding-left: 4px;
  left: 10px;
  top: -10px;
  box-sizing: border-box;
}

.pot-ingredient-container {
  width: 100%;
  height: 100%;
  padding: 15px 20px 10px;
  box-sizing: border-box;
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: auto;
}

.pot-ingredient {
  display: flex;
  width: 46%;
  height: 25%;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  border-bottom: 2px dashed black;
}

.pot-ingredient > span {
  cursor: pointer;
  font-weight: 800;
  border-radius: 50%;
  width: 22px;
  display: flex;
  justify-content: center;
}

.pot-ingredient > span:hover {
  background-color: var(--main-light-color);
}

.pot-content-component-footer {
  height: 0;
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
}

.clear-all-pot-items-btn {
  width: 20px;
  height: 20px;
  background-color: white;
  position: relative;
  z-index: 1;
  top: -10px;
  cursor: pointer;
  transition: all 0.3s;
}

.clear-all-pot-items-btn:hover {
  color: red;
  width: 30px;
  height: 30px;
  font-size: 30px;
  top: -15px;
}
