.cooking-pot-img {
  width: 250px;
  position: absolute;
  bottom: 20.5%;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  opacity: 1;
  transition: transform 750ms;
  z-index: 40;
}

#cooking-pot-lid {
  pointer-events: none;
}

.remove-lid {
  transform: translateX(55px) translateY(-95px) rotate(40deg);
  opacity: 0;
  transition: all 0.8s;
}

.hover-lid {
  transform: translateX(55px) translateY(-95px) rotate(40deg);
  transition: all 0.8s;
}