.recipe-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
}

.recipe-list-item {
    /* background-color: var(--main-bg-color); */
    color: var(--secondary-dark-color);
    border: 2px solid var(--main-dark-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5em;
    justify-content: space-between;
    width: 80%;
    margin: 0.25em;
    border-radius: 3px;
    min-height: 50px;
}

.recipe-list-item img {
    height: 100px;
    width: auto;
    margin: 0;
}


.recipe-list:last-child {
    border-bottom: 1px solid black;
}

.recipe-list-item:hover {
    background-color: var(--main-bg-color);
    cursor: pointer;
}

.recipe-list-label {
    margin: 0;
}