#recipe {
    height: 500px; 
    width: 400px;
    background-color: var(--tertiary-light-color);
    /* background-color: var(--secondary-light-color); */
    color: var(--secondary-dark-color);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    border-radius: 5px;
}

#recipe-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: capitalize;
}

#recipe-title-container a {
    text-decoration: none;
    color: inherit
}

#recipe-middle-third {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#recipe-image {
    width: 200px;
    object-fit: contain;
}

#recipe-image img{
    width: inherit;
    height: auto;
}

#recipe-scores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 3em;
}

.recipe-score {
    border-radius: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bolder;
    text-align: center;
}

#recipe-show-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em;
}

#recipe-show-links a {
    text-decoration: none;
    color: inherit;
}

#recipe-show-links a:hover {
    font-weight: 700;
}