.cubberd-container {
  width: 100%;
  height: 100%;
  position: relative;
  border: 5px solid rgba(238, 190, 146, 0.7);
  border: 5px solid #61413d;
  border: 5px solid var(--main-dark-color);
  box-sizing: border-box;
}

.cubberd-door {
  background-color: var(--main-dark-color);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: transform 1.5s;
  transform-origin: left;
  z-index: 1;
}

.cubberd-door-pattern {
  border: 4px solid rgba(124, 184, 150, 0.4);
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 2px 20px rgba(0, 0, 0, 0.25);
}

.cubberd-inner-door-pattern {
  border: 4px solid rgba(124, 184, 150, 0.3);
  width: 90%;
  height: 95%;
  box-shadow: inset 0 2px 20px rgba(0, 0, 0, 0.25);
}

.cubberd-door-knob {
  background-color: silver;
  width: 10px;
  height: 120px;
  position: absolute;
  bottom: 10%;
  right: 10px;
  cursor: pointer;
}

.cubberd-door-open {
  transform: rotateY(-100deg);
  cursor: pointer;
}

.cubberd-content-container {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  border: 5px solid black;
}

.cubberd-search-bar-container {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: none;
  display: flex;
  box-sizing: border-box;
}

.cubberd-search-bar {
  height: 30px;
  line-height: 20px;
  font-size: 16px;
  width: 100%;
  padding: 0 5px;
  margin: 0;
  border: none;
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.cubberd-search-bar:focus {
  outline: none;
}

.cubberd-search-btn {
  height: 30px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(238, 190, 146, 0.7);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.cubberd-search-btn:hover {
  background-color: rgb(207, 165, 126);
}

.cubberd-ingredients-container-wrapper {
  display: flex;
  flex-direction: column-reverse;
  width: calc(100% - 5px);
  height: 662px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  padding: 0 5px;
  justify-content: flex-end;
}

.search-results {
  margin: 0 5px;
  min-height: 22px;
  max-height: 130px;
  width: calc(100% - 42px);
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.search-results > li {
  width: 100%;
  height: 22px;
  cursor: pointer;
  padding: 0 5px;
  box-sizing: border-box;
  list-style: none;
}

.search-results > li:hover {
  background-color: #ebebeb;
}

.selected {
  background-color: yellow;
}

.search-result-options {
  display: flex;
  flex-direction: column;
}

.cubberd-ingredient-row {
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  align-items: center;
  padding: 5px 0;
}

.cubberd-ingredient-row > img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 2px;
}

.cubberd-food-name {
  width: 175px;
  box-sizing: border-box;
  padding-left: 5px;
  font-weight: 700;
  cursor: pointer;
}

.cubberd-shelving-option-one {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
}

.cubberd-shelving-option-two {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}

.cubberd-footer {
  height: 57px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  border-top: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}

.cubberd-footer-options {
  width: 40px;
  height: 40px;
  font-size: 40px;
  cursor: pointer;
}

/* Loading animation from loading.io */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 8px solid var(--main-dark-color);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--main-dark-color) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.checkmark {
  width: 40px;
  height: 40px;
  position: relative;
}

.checkmark:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}

.checkmark:after {
  opacity: 1;
  height: 40px;
  width: 20px;
  transform-origin: left top;
  border-right: 5px solid var(--main-dark-color);
  border-top: 5px solid var(--main-dark-color);
  content: '';
  position: absolute;
  top: 20px;
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 20px;
    opacity: 1;
  }
  40% {
    height: 40px;
    width: 20px;
    opacity: 1;
  }
  100% {
    height: 40px;
    width: 20px;
    opacity: 1;
  }
}
