.cubberd-container {
  width: 100%;
  width: 390px;
  height: 100%;
  height: 778px;
  position: relative;
  border: 5px solid rgba(238, 190, 146, 0.7);
  border: 5px solid #61413d;
  border: 5px solid var(--main-dark-color);
  box-sizing: border-box;
}

.cubberd-door {
  background-color: var(--main-dark-color);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.5s;
  transform-origin: left;
  z-index: 1;
}

.cubberd-door-pattern {
  border: 4px solid rgba(124, 184, 150, 0.4);
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 2px 20px rgba(0, 0, 0, 0.25);
}

.cubberd-inner-door-pattern {
  border: 4px solid rgba(124, 184, 150, 0.3);
  width: 90%;
  height: 95%;
  box-shadow: inset 0 2px 20px rgba(0, 0, 0, 0.25);
}

.cubberd-door-knob {
  background-color: silver;
  width: 10px;
  height: 120px;
  position: absolute;
  bottom: 10%;
  right: 10px;
}

.cubberd-container:hover .cubberd-door {
  transform: rotateY(-100deg);
  /* transform: rotateY(-90deg); */
}

.outer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cubberd-content-container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
}

.cubberd-search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 187px;
  position: relative;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 17px;
  box-sizing: border-box;
}

.cubberd-search-bar-container {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: none;
  display: flex;
  box-sizing: border-box;
}

.cubberd-search-bar {
  height: 30px;
  line-height: 20px;
  font-size: 16px;
  width: 100%;
  padding: 0 5px;
  margin: 0;
  border: none;
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.cubberd-search-bar:focus {
  outline: none;
}

.cubberd-search-btn {
  height: 30px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(238, 190, 146, 0.7);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.cubberd-search-btn:hover {
  background-color: rgb(207, 165, 126);
}

.search-results {
  margin: 0 5px;
  max-height: 147px;
  width: calc(100% - 46px);
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.search-results > div {
  width: 100%;
  cursor: pointer;
  padding: 0 5px;
  box-sizing: border-box;
}

.search-results > div:hover {
  background-color: #ebebeb;
}

.search-result-container {
  margin: 0 5px;
  height: 147px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-result-container > img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.search-result-options {
  display: flex;
  flex-direction: column;
}

.add-to-pot-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

.save-to-cubberd-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
}

.cubberd-shelving {
  width: 360px;
  height: 15px;
  background-color: rgba(228, 206, 172, 0.8);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  bottom: 0;
}

.cubberd-ingredients-container-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 560px;
  overflow-x: visible;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cubberd-ingredients-container-wrapper::-webkit-scrollbar {
  display: none;
}

.cubberd-ingredients-container {
  display: flex;
  width: 100%;
  height: 140px;
  position: relative;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  padding-top: 43px;
  padding-bottom: 17px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-around;
}

.cubberd-ingredients-container > img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.cubberd-shelving-option-one {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
}

.cubberd-shelving-option-two {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}
