#user-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-page nav {
    width: calc(100% - 1em);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#user-page-columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: calc(100% - 100px);
}

.user-page-column {
    height: calc(100% - 1em);
}

#user-page-favorited-recipes-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-page-favorited-recipes-container > div {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#user-page-favorited-recipes-container .recipe-list-item {
    width: 20%;
    border-radius: 5px;
    margin: 1em;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    font-size: medium;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5em;
    padding-top: 0;
}

#user-page-planned-and-shopping {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

#user-page-planned-and-shopping > div{
    width: calc(100% - 1em);
    height: 50%;
}

#user-page-nav-items {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1em;
}


#user-page-planned-recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em
}

#user-page-shopping-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}