/* TODO Add site wide styles */
html {
  font-family: "Nunito", sans-serif;
}

:root {
  --main-dark-color: #144736;
  --main-lighter-dark-color: #7cb896;
  --main-light-color: #9cc8a4;
  --main-lighter-color: #b6d4ae;
  --secondary-dark-color: #285083;
  --main-bg-color: #E0E1DD;
  --secondary-bg-color: #FFE19C;
  --main-component-color: #F4F4F8;
  --secondary-component-color: #1B263B;
  --secondary-light-color: #417db0;
  --tertiary-light-color: #e2c7d3;
}

.main-display {
  width: 80%;
  margin: auto;
  border: 2px solid black;
  box-sizing: border-box;
  height: 800px;
  margin-top: 50px;
}

.main-display-component {
  padding-left: 0.5em;
  height: 100px;
  width: 100px;
  margin: 0.5em;
  color: var(--secondary-component-color);
  box-sizing: border-box;
  background-color: var(--main-component-color);
  border-radius: 5px;
  border: 3px solid var(--secondary-component-color);
}


::-webkit-scrollbar {
  width: 10px;
  margin-right: 2px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: var(--main-dark-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-dark-color);
}
