.main-display {
    width: 80%;
    margin: auto;
    border: 2px solid black;
    box-sizing: border-box;
    height: 800px;
    margin-top: 50px;
}

.main-display-component {
    height: 100px;
    width: 100px;
    margin: 0.5em;
    border: 1px solid black;
    box-sizing: border-box;
}