/* TODO Add site wide styles */
html {
  font-family: "Nunito", sans-serif;
}

:root {
  --main-dark-color: #48a684;
  --main-lighter-dark-color: #7cb896;
  --main-light-color: #9cc8a4;
  --main-lighter-color: #b6d4ae;
  --secondary-dark-color: #285083;
  --secondary-light-color: #417db0;
}
